<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.kubaspatny.nsfwgur" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme" >
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GalleryPagerActivity"
            android:label="@string/title_activity_gallery_pager"
            android:parentActivityName="cz.kubaspatny.nsfwgur.ui.activity.MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.kubaspatny.nsfwgur.ui.activity.MainActivity" />
        </activity>
    </application>

</manifest>
